.evenemang-lokstallet {
  background-color: #d9d6d1;
  color: #2e2e2e;
  font-family: 'Josefin Sans', sans-serif;
  padding: 60px 20px;
  display: flex;
  justify-content: center; 
}

.evenemang-container {
  max-width: 900px; 
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.evenemang-title {
  font-size: 2.9em;
  margin-bottom: 10px;
  font-family: "Playfair Display";
  font-weight: 900;         
  text-transform: uppercase;
  color: #4b3b2b;
}

.evenemang-intro {
  font-size: 1.1em;
  margin-bottom: 50px;
  color: #5a4c3e;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.event-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.event-card {
  display: flex;
  background: #fffaf0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #d6c7a3;
  position: relative;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.15);
}

/* Bild tar hela vänstersidan */
.event-img {
  width: 45%;
  min-width: 250px;
  object-fit: cover;
  border-right: 1px solid #d6c7a3;
}

/* Höger textdel */
.event-content {
  flex: 1;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
}

.event-heading {
  font-size: 2.1em;
  font-weight: 900;
  font-family: "Playfair Display";
  color: #4b3b2b;
  margin-bottom: 12px;
}

/* Datum, tid och plats som chips */
.event-date {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 18px;
  justify-content: center;
  border-bottom: #7a5c2e 1px solid;
}

.event-date-item {
  color: #7a5c2e;
  padding: 6px 12px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
}

.event-description {
  font-size: 1.05em;
  color: #5a4c3e;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bt-l2 {
    margin-top: 15px;
    display: inline-block;
    padding: 14px 32px;
    background: #403B3B;
    color: #fff;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    align-self: center;
}

.bt-l2:hover {
  background: #403B3B;
}

.event-content a {
  text-decoration: none;
}

/* Mobilanpassning */
@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
  }

  .event-img {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d6c7a3;
  }

  .event-content {
     text-align: left;     
     align-items: flex-start;
  }

  .evenemang-title{
    font-size: 2.2rem;
  }

  .evenemang-intro{
    border-bottom: 2px solid #B79C62;
  }

  .event-date {
    flex-direction: column;  
    align-items: flex-start; 
    gap: 1px;                
    border-bottom: #7a5c2e 1px solid;
    margin-bottom: 18px;
  }

   .event-date-item {
    display: block; /* säkerställ att varje item tar en egen rad */
  }

  .btn-l2 {
    align-self: center;
  }
}
