footer {
  background-color: #111111;
  color: white;
  padding: 40px 20px;
  margin-top: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.logo-mmv-fot {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
  flex-shrink: 0;
}

/* Footer sektioner */
.footer-section {
  flex: 1 1 250px;
  text-align: center; /* centrera innehållet */
}

/* Rubriker */
footer h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #efede8;
}

/* Text och länkar */
footer p,
footer a {
  font-size: 16px;
  color: #ccc;
  line-height: 1.6;
  text-decoration: none;
  margin: 0 auto;
  max-width: 300px; /* maxbredd för bättre läsbarhet */
  display: block;
}

footer a:hover {
  color: #000000;
  text-decoration: underline;
}

/* Sociala medier */
.social-icons {
  display: flex;
  justify-content: center; /* centrera ikoner */
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  color: #fff;
  font-size: 40px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #957b12;
}

/* Form knapp */
.form-button-container {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-button-container h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #efede8;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #c58e3e, #e5b970);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.form-button:hover {
  background: linear-gradient(135deg, #e5b970, #c58e3e);
}

/* Footer copyright text */
footer > p {
  font-size: 14px;
  color: #ccc;
  margin-top: 20px;
}

/* Responsivitet */
@media (max-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .footer-section,
  .form-button-container {
    flex: 1 1 100%;
  }
  .footer-section p,
  .footer-section a {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 30px 15px;
  }
  .form-button {
    height: 80px;
    width: 80px;
    font-size: 12px;
  }
}
